{% macro product(item) %}
<tr>
    <td>{{item.name}}</td>
    <td>{{item.price}} PHP</td>
    <td>
        <form class='form-signin' method='post' action="{{url_for('default.add_to_cart')}}">
            <input type="hidden" name="name" value="{{item.name}}"/>
            <!-- <input class='btn btn-lg btn-primary btn-block' type='submit' /> -->
            <button type="submit" class="btn">
              <span class="glyphicon glyphicon-shopping-cart"></i>
            </button>
        </form>

    </td>
</tr>
{% endmacro %}