{% from "default/product.html" import product with context %}
{% from "default/cartItem.html" import cart with context %}
{% extends "base.html" %}

{% block pagetitle %} Shopping Cart {% endblock %}

{% block content %}
    <div class="col-md-6">
        <h3>Products</h3>
        <table class="table table-hover" style="width:50%">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Buy</th>
            </tr>
            {% for item in product_list %}
                {{ product(item) }}
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h3>Shopping Cart</h3>
        <table class="table table-hover">
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
                {% for cartItem in cart_list %}
                    {{ cart(cartItem) }}
                {% endfor %}
            <tr>
                <th>Total Price:</th>
                <th>
                    {{total}} PHP
                </th>
            </tr>
        </table>
    </div>


{% endblock %}